<h1>Welcome to the prediction of Titanic Passenger Survival Prediction</h1>
<form action="/submit" target="_self" method='post'>
    <label for="cls">Passenger Class:</label>
    <input type="number" name="cls"><br>
    <label for="age">Age:</label>
    <input type="number" name="age"><br>
    <label for="fare">Fare:</label>
    <input type="number" name="fare"><br>
    <label for="fsize">Family Size:</label>
    <input type="number" name="fsize"><br>
    <label for="cld">Child:</label>
    <input type="number" name="cld"><br>
    <label for="fml">Female:</label>
    <input type="number" name="fml"><br>
    <label for="ml">Male:</label>
    <input type="number" name="ml"><br>
    <input type="submit" value="Submit">

    	

</form>